@import 'tailwindcss';
/* 
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@import '@fontsource/open-sans';

[data-theme='cerberus'] {
  --heading-font-family: 'Open Sans', sans-serif;
  --base-font-family: 'Open Sans', sans-serif;
  --anchor-font-family: 'inherit';
} */


